<div class="comment">
  <% if(current_user.try(:admin?) || current_user.try(:mod?)) %>
    <p>
      <small><strong> <%= comment.user.name %> </strong>
        <% if comment.user.try(:admin?) %>
          <span style="color: darkred;">(admin)</span>
        <% elsif comment.user.try(:mod?) %>
          <span style="color: darkblue;">(mod)</span>
        <% end %>
        <%= comment.created_at %>
        <strong>
          <%= comment_publish(comment, @post) %>
          <%= comment_edit(comment, @post) %>
          <%= comment_delete(comment, @post) %>
        </strong>
      </small>
    </p>
    <p><%= comment.body %></p>
  <% else %>
    <% if comment.publish? %>
      <p><small><strong> <%= comment.user.name %> </strong>
        <% if comment.user.try(:admin?) %>
          <span style="color: darkred;">(admin)</span>
        <% elsif comment.user.try(:mod?) %>
          <span style="color: darkblue;">(mod)</span>
        <% end %>
        <%= comment.created_at %> </small>
      </p>
      <p><%= comment.body %></p>
    <% end %>
  <% end %>
</div>