<div>
  <% if current_user.try(:admin?) %>
    <p><small><strong> <%= comment.user.name %> </strong>
      <% if comment.user.try(:admin?) %>
        <span style="color: darkred;">(admin)</span>
      <% end %>
      <%= comment.created_at %> </small>
    </p>
    <p class="comment"><%= comment.body %></p>
    <% if current_user.try(:admin?) && !comment.published %>
      <%= form_tag publish_admin_post_comment_path(@post, comment), method: :put do -%>
        <%= submit_tag 'Publish' -%>
      <%- end -%>
      <br>
    <% end %>
  <% else %>
    <% if comment.published %>
      <p><small><strong> <%= comment.user.name %> </strong>
        <% if comment.user.try(:admin?) %>
          <span style="color: darkred;">(admin)</span>
        <% end %>
        <%= comment.created_at %> </small>
      </p>
      <p class="comment"><%= comment.body %></p>
    <% end %>
  <% end %>
</div>