<div class="comment">
  <% if current_user.try(:admin?) || current_user.try(:mod?) %>
    <p>
      <small><strong> <%= comment.user.name %> </strong>
        <% if comment.user.try(:admin?) %>
          <span style="color: darkred;">(admin)</span>
        <% elsif comment.user.try(:mod?) %>
          <span style="color: darkblue;">(mod)</span>
        <% end %>
        <%= comment.created_at %>
        <strong>
          <% if((current_user.try(:admin?) || current_user.try(:mod?)) && !comment.published && comment.user.try(:standard?)) %>
            <%= content_tag(:small, link_to("Publish", publish_post_comment_path(@post, comment), method: :put)) %>
          <% elsif((current_user.try(:admin?) || current_user.try(:mod?)) && comment.published && comment.user.try(:standard?)) %>
            <%= content_tag(:small, link_to("Unpublish", unpublish_post_comment_path(@post, comment), method: :put)) %>
          <% end %>
          <% if current_user.try(:admin?) || current_user.try(:mod?) || comment.user_id.to_s == current_user.id.to_s %>
            <%= content_tag(:small, link_to("Edit", edit_post_comment_path(@post, comment), method: :get)) %>
          <% end %>
          <% if current_user.try(:admin?) || current_user.try(:mod?) || comment.user_id.to_s == current_user.id.to_s %>
            <%= content_tag(:small, link_to("Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"})) %>
          <% end %>
        </strong>
      </small>
    </p>
    <p><%= comment.body %></p>
  <% elsif current_user %>
    <% if comment.published || comment.user_id.to_s == current_user.id.to_s %>
      <p>
        <small>
          <strong> <%= comment.user.name %> </strong>
          <% if comment.user.try(:admin?) %>
            <span style="color: darkred;">(admin)</span>
          <% elsif comment.user.try(:mod?) %>
            <span style="color: darkblue;">(mod)</span>
          <% end %>
          <%= comment.created_at %>
          <strong>
            <% if comment.user_id.to_s == current_user.id.to_s %>
              <%= content_tag(:small, link_to("Edit", edit_post_comment_path(@post, comment), method: :get)) %>
            <% end %>
            <% if comment.user_id.to_s == current_user.id.to_s %>
              <%= content_tag(:small, link_to("Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: "Are you sure you want to delete this permanently?"})) %>
            <% end %>
          </strong>
        </small>
      </p>
      <p><%= comment.body %></p>
    <% end %>
  <% else %>
    <p><small><strong> <%= comment.user.name %> </strong>
      <% if comment.user.try(:admin?) %>
        <span style="color: darkred;">(admin)</span>
      <% elsif comment.user.try(:mod?) %>
        <span style="color: darkblue;">(mod)</span>
      <% end %>
      <%= comment.created_at %> </small>
    </p>
    <p><%= comment.body %></p>
  <% end %>
</div>