<h1>This is a list of posts</h1>
<% if current_user.try(:admin?) || current_user.try(:mod?) %>
  <%= link_to "New Post", new_post_path %>
<% end %>

<ul>
  <% @posts.each do |p| %>
    <li>
      <h3><%= link_to p.title, post_path(p.id) %></h3>
      <p><small><strong>Added by: </strong><%= p.user.name %><strong>  at: </strong><%= p.created_at %></small></p>
      <p><%= p.subtitle %></p>
    </li>
  <% end %>
</ul>

<%= will_paginate @posts %>


