<h1>Manage Users</h1>
<table style="width:100%">
  <tr>
    <th>user_id</th>
    <th>name</th>
    <th>email</th>
    <th>admin</th>
    <th>show_user</th>
    <th>edit_user</th>
    <th>delete_user</th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.id %></td>
      <td><%= u.name %></td>
      <td><%= u.email %></td>
      <td><%= u.admin %></td>
      <td><%= link_to 'show', admin_user_path(u.id) %></td>
      <td><%= link_to 'edit', edit_admin_user_path(u.id) %></td>
      <td><%= link_to 'delete', admin_user_path(u.id), method: :delete, data: {confirm: "Are you sure you want to delete user permanently?"} %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>