<div class="user-show">
  <p>User_id: <%= @user.id %></p>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Role: <%= @user.role %></p>
  <p>Created_at: <%= @user.created_at %></p>
  <p>Updated_at: <%= @user.updated_at %></p>
</div>